<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>WawajobsChina</title>
		<meta name="keywords" content="resume,jobs,,job search,find jobs,recruit,WawajobsChina">
		<meta http-equiv="Window-target"  content="_top">
		<meta name="x5-orientation" content="portrait">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="stylesheet" type="text/css" href=" ../static/css/swiper.css"/>
		<link rel="stylesheet" type="text/css" href=" ../static/css/index1.css"/>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106861645-1"></script>
		<script>
		  	window.dataLayer = window.dataLayer || [];
		  	function gtag(){dataLayer.push(arguments)};
		  	gtag('js', new Date());
		  	gtag('config', 'UA-106861645-1');
		</script>
		<!-- Demo styles -->
		<style>
			html,body {
				position: relative;
				height: 746px;
			}
			
			.swiper-container3 {
				width: 100%;
				/*height: 100%;*/
				/*给类名加完下标后不加overflow会出现滚动条*/
				overflow: hidden;
			}
			
			
		</style>
		
	</head>

	<body>
		<!-- Swiper -->
		<div class="swiper-container3">
			<div class="swiper-wrapper">
				<!--第一屏-->
				<div class="swiper-slide">
					<!--logo-->
					<div class="logoBox">
						<div class="up">
							<div class="logoContant">
								<img src=" ../static/img/diy_42.png" class="logo"/>
							</div>
							
							<div class="headMenu">
								
								
							</div>
							<div class="signAndLog">
								<a href="javascript:void(0);" class="reg-btn">APPLY NOW</a>
								<a href="javascript:void(0);" class="login-btn">Login</a>
							</div>
						</div>
						<!--<ul class="down">
							<li class="first">HOME</li>
							<li>TEACH</li>
							<li>INTERNS</li>
							<li>HOMESTAY</li>
							<li>MANDRAIN</li>
							<li>MEDIA</li>
							<li>TESTIMONIALS</li>
							<li>ABOUTUS</li>
						</ul>-->
					</div>
					<div class="headMenu1">
								
					</div>
					<!--banner-->
					<div class="banner">
						<img class="imgBanner" src=" ../static/img/banner.jpg"/>
						<div id="con">
							<p class="con2">Teach in China</p>
							<p class="con3">Teach Away is currently seeking a high number of enthusiastic, energetic and creative teachers for exciting opportunities to teach English in China. China has a vibrant and rapidly growing economy that is soon projected to be the largest in the world. The country has grown increasingly popular with ambitious, globally-focused ESL and licensed teachers; individuals who are keen to live, work and personally experience the phenomenon of a society undergoing an exciting transformation.</p>
						</div>
					</div>
					<!--
                    	作者：lishuai3345@126.com
                    	时间：2017-12-02
                    	描述：第一屏描述
                    -->
                    <div class="screen-containt1">
                    	<div>
						<div class="first-content">
							<p class="con2">Options for Teaching in China</p>
							<p class="con3">Are you a licensed or ESL educator thinking about teaching English in China? Your timing couldn’t be better! With around 300 million English language students, China is unquestionably a job-seeking teacher’s market.</p>
							<p class="con3">Estimates show that China is currently experiencing a shortfall of around 100,000 English teachers and this figure is set to increase over the coming years as the country’s enthusiasm for learning English continues unabated.</p>
							<p class="con3">Home to the largest education system in the world, China places a huge emphasis on the central role of education in its economic and cultural development, as well as the personal advancement of its citizens. Rest assured that there’s no shortage of options available for new graduates and licensed teachers looking to teach English abroad, including teaching jobs in private language schools and international schools across the country!</p>
							<p class="con3">As China is the biggest ESL hotspot in the world right now, ESL teachers in the country can earn a competitive salary and receive additional perks that may include free housing, airfare, medical insurance and bonuses.</p>

						</div>
						<img class="first-pic" src="../static/img/lun3-2.png">
							
						</img>
					</div>
                    	
                    </div>
					
					<div style="clear:both;"></div>
					<div class="screen-containt1">
					<div class="second-div">
						<img class="second-pic" src="../static/img/lun3-3.png">
							
						</img>
						<div class="second-content">
							<p class="con2">Private Language Schools in China</p>
							<p class="con3">Private language schools are some of the most popular options for ESL teachers as well as licensed educators looking to teach English in China. The number of students enrolled at private schools in China increased from 29 million in 2011 to 40 million as of 2016 and is expected to reach a whopping 51 million by 2021!</p>
							<p class="con3">English language learners in China are also getting younger and younger, particularly in bigger cities, because parents in China increasingly attach great importance to an English language education for their children.</p>
							<p class="con3">The exponential increase in younger English learners, combined with a growing number of adults enrolling in business English classes to advance their career, means that the demand for native-English speaking ESL teachers in China is poised to explode over the next number of years.</p>
							<p class="con3">Private language school teaching jobs are most commonly found in larger cities, where demand tends to be higher than in rural parts of the country. Some of the most prominent and reputable language school groups actively hiring overseas teachers for teaching jobs in China include English First, Disney English, Maple Bear Global Schools and First Leap English. Private language schools in China usually employ a combination of expat English teachers and English-speaking local Chinese teachers. Class sizes usually run on the smaller side (usually 15 students). More and more, technology plays a bigger role in the ESL classroom, most language schools in China use interactive whiteboards and computers.</p>

						</div>
						
					</div>
					</div>
					<div style="clear:both;"></div>
					<div class="three-div">
						
						<div class="three-content">
							<p class="con2">International Schools in China</p>
							<p class="con3">Over the past year, China has experienced the most rapid growth of international schools. The soaring popularity of international schools in China reflects not only the country's economic rise but also the fact that the Chinese have long been passionate about learning English, which is regarded as an important key to success.</p>
							<p class="con3">There are more than 150 000 Chinese students that are currently enrolled in international schools. The increased demand for international education in China has largely been fueled by a growing number of middle-class Chinese families seeking to provide their children with a western-style English-medium education; their core aim is to gain entry into globally-recognized universities overseas.</p>
							<p class="con3">International schools in China are typically characterized by world-class school facilities, smaller than average class sizes and varied curriculum offerings. A majority of Chinese international schools tend to follow one of the following international curricula:</p>
							<p class="con3">International Baccalaureate (IB) Program</br>
Cambridge International Examinations (CIE)</br>
The College Board’s Advanced Placement (AP) Program</br></p>
							<p class="con3">Teach Away is seeking licensed teachers across a wide range of subjects and grade levels to teach English at international schools in China, including Maple Leaf International Schools.</p>
						</div>
						<img class="three-pic" src="../static/img/lun3-4.png">
							
						</img>
						
					</div>
					<div style="clear:both;"></div>
					<div class="full-bg">
						<h2>Apply now to teach in China</h2>
						<div class="blurb">
							<p class="lead">Your new teaching journey starts here. Discover opportunities to take your teaching career abroad with Teach Away.</p>
							<div class="map_area" style="top: 127.424px; margin-left: 711.589px;"><div class="inner_map_area"></div></div>
						</div>
						<a href="javascript:void(0);" onclick="applyNow();" title="Apply Now" class="btn btn-outline">Apply Now </a>
					</div>
					<div style="clear:both;"></div>
					<div class="screen-containt1">
					<div class="second-div">
						<img class="second-pic" src="../static/img/lun3-1.png">
							
						</img>
						<div class="second-content">
							<p class="con2">Requirements to Teach in China</p>
							<p class="con3">The minimum requirements to land a job in a private language school in China typically include a Bachelor’s degree and a TEFL certificate. </p>
							<p class="con3">Teaching experience, while preferred by certain employers, is not strictly required.
Candidates looking to teach at an international school in China should hold a Bachelor’s degree, a teaching license issued by the applicant's home country and at least two years of full-time teaching experience with contactable references.</p>
							
						</div>
						
					</div>
					</div>
				</div>
				
				
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
		</div>
		<script type="text/javascript" src=" ../static/js/jquery/jquery-3.0.0.js"></script>
		<script src=" ../static/js/resume/swiper.min.js"></script>
		<script src=" ../static/js/resume/move.js"></script>
		<script src=" ../static/js/resume/base.js"></script>
		<script src=" ../static/js/resume/index.js"></script>
		<script src=" ../static/js/resume/feedback.js"></script>
		<script src=" ../static/js/resume/user.js"></script>

		<script>
		
		//rem
(function (doc, win) {
	var docEl = doc.documentElement,
	    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize', recalc = function () {
	var clientWidth = docEl.clientWidth;
	if (!clientWidth) return;
	    var fontSize = (clientWidth > 375 ) ? 100 : 100 * (clientWidth / 375 ) ; 
	    docEl.style.fontSize = fontSize + 'px';
	    };
	if (!doc.addEventListener) return; win.addEventListener(resizeEvt, recalc, false);
	    recalc();
})(document, window); 
//			var swiper = new Swiper('.swiper-container3', {
////				pagination: '.swiper-pagination',
//				paginationClickable: true,
//				mousewheelControl : true,
//				direction: 'vertical'
//			});

	
			
			$(function(){
				
				$(".headMenu1 li").on('click',function(){
					$(".headMenu1 li").removeClass("selected");
					$(".headMenu1 li div").removeClass("triangle-up-selected");
					$(".headMenu1 li div").addClass("triangle-up");
					$(this).addClass("selected");
					$(this).find('div').removeClass("triangle-up");
					$(this).find('div').addClass("triangle-up-selected");
				});
				
				$(".headMenu li").on('click',function(){
					$(".headMenu li").removeClass("selected");
					$(".headMenu li div").removeClass("triangle-up-selected");
					$(".headMenu li div").addClass("triangle-up");
					$(this).addClass("selected");
					$(this).find('div').removeClass("triangle-up");
					$(this).find('div').addClass("triangle-up-selected");
				});
				
				$.ajax({
					url:Base.url +"/user/current",
					type: "GET",
					dataType:"json",
					success : function(data){
						if(data.status == 1){
							if(data.user == null){
								
								$(".signAndLog").html('<a href="javascript:void(0);" onclick="applyNow();" class="reg-btn">APPLY NOW</a>'+
									'	<a class="login-btn" href="window.location.href=\'../login.jsp\'">Login</a>');
							}else{
								
								$(".signAndLog").html('<a class="login-btn" href="#" disable="disable">'+data.user.email+'</a>');
								findMenu();
							}
						}
						
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						// alert(XMLHttpRequest.status+"-"+XMLHttpRequest.readyState + "-" + textStatus);
						$(".signAndLog").html('<a href="javascript:void(0);" onclick="applyNow();" class="reg-btn">APPLY NOW</a>'+
						'	<a href="javascript:void(0);" class="login-btn" onclick="window.location.href=\'../login.jsp\'">Login</a>');
				    }
				});
			
		});
			
			function findMenu(){

				$.ajax({
					url:Base.url +"/user/findMenu",
					type: "POST",
					dataType:"json",
					success : function(data){
						if(data.status == 1){
							var menus = data.data;
							var menuElm = "<ul >";
							for (var i = 0; i < menus.length; i++) {
								var menu = menus[i];
								var name = menu.name;
								var val = menu.value;
								menuElm += '<li class="selected"><a href="'+Base.url +val+'">'+name+'</a> <div class="triangle-up"></div></li>';
							}
							menuElm +="</ul>"
							$(".headMenu").append(menuElm);
							$(".headMenu1").append(menuElm);
						}
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						 alert(XMLHttpRequest.status+"-"+XMLHttpRequest.readyState + "-" + textStatus);
				    }
				});
			}
			
			
			
		function applyNow(){
			window.location.href=Base.url+'/public/user/reg/page';
		}	
		
		</script>
	</body>

</html>